



.App{
 
  width:100% ;
  min-height: 90vh;
  padding: 0;
  margin: 0;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container{
  display: flex;
}

.changeTheme{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  border-right: 1px solid gray;
  min-height: 70vh;
  padding: 10px;
}


.content{
  padding: 20px;
 
  width: 100%;
}
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 40px;
  border: 1px solid gainsboro;
}
form >div{
  display: flex;
  justify-content: space-between;
  width: 70%;
}
label{
  font-weight: bold;
  font-style: italic;

}
input{
  width: 70%;
  margin-top: 10px;
  padding: 10px;
}

.handleButton{
  width: 70%;
  /* background-color: red; */
  height: 4rem;
  display: flex;
  align-items: center;
  
}

.update{
  background-color: green;
  color: white;
}
.create{
  background-color: blue;
  color: white;
}
button{
  width: 100px;
  padding: 7px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 15px;
  cursor: pointer;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.todo-content{
  border-bottom: 1px solid gray;
  margin-top: 50px;
  padding-bottom: 40px;
}